.externalRequestTestVisual {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;

        button {
            display: block;
            margin: 10px 0;
            width: 155px;
            background: #eee;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.2s;

            &:hover{
                background: #d0d0d0;
            }
            &:active{
                background: #b0b0b0;
            }
            &:disabled{
                cursor: default;
                opacity: 0.6;
                background: #eee;
            }
        }
    }

    .scenario {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .status {
        &:empty {
            display: none;
        }
        &.pending {
            color: #605e5c;
        }
        &.success {
            color: #107c10;
        }
        &.failure {
            color: #a4262c;
        }
    }

    .result-image {
        display: none;
        max-width: 200px;
        max-height: 200px;
        margin-top: 10px;

        &.visible {
            display: block;
        }
    }
}
